Pix_Pro_Baseball/
Pix_Pro_Baseball/*
Pix_Pro_Baseball.zip
.DS_Store
.DS_Store/*
pix_pro_stats/venv/
pix_pro_stats/venv/*
pix_pro_stats/src/__pycache__/
pix_pro_stats/src/__pycache__/*
pix_pro_stats/src/app_data/*
pix_pro_stats/src/app_data/

pix_pro_stats/src/current_mlb_stats/
pix_pro_stats/src/current_mlb_stats/*